@import "tailwindcss";

:root {
  --mesh-dark: #0a1b36;
  --mesh-light: #f6f6f6;
  --mesh-green: #ADEFD1;
  --mesh-red: #e83b2b;
}

body {
  background: var(--mesh-light);
  color: var(--mesh-dark);
}

/* regla global para evitar que imágenes desborden en móviles */
img {
  max-width: 80%;
  height: auto;
  display: block;
}